.type-icon {
  width: 64px;
  height: auto;
  margin: 3px;
}
.pokemon-img {
  width: 128px;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.pokemon-card {
  transition: all 0.3s ease;
  cursor: pointer;
}
.pokemon-card:hover {
  transform: translateY(-10px);
}

.subtitle {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem; 
}

/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .subtitle {
    font-size: 1.8rem; 
  }
}

/* Para pantallas más grandes (tabletas y desktop) */
@media (min-width: 1024px) {
  .subtitle {
    font-size: 3rem; 
  }
}
